{% extends 'base.html' %}

{% block title %}My account{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <style>
    form{
        display: inline-block;
        width: 400px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
        padding-left:24px;
        padding-bottom: 10px;
        padding-top: 15px;
        position: relative;
        border: 1px solid #ccc;
        left: 45%;
        padding-right: 10px;
    }
    button{
      position: relative;
      left: 60%;
    }
    .breadcrumb{
      font-size: 1.7rem;
    }
    </style>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10">
          <ol class="breadcrumb my-4">
  <li class="breadcrumb-item active align-items-center">Update your information</li>
</ol>
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <button  type="submit" class="btn btn-success">Save changes</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}