{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{%block content%}
<style>
    /* Need to be add more styling */
    .container {
        margin: 30px auto;
    }

    .title {
        font-size: 30px;
        color: deeppink;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .content {
        margin-bottom: 20px;
    }

    .content span {
        font-weight: bold;
    }

    .submit {
        margin-top: 50px;
    }

    .submit a{
        border: 1px solid  #71dd8a;
        background-color:  #71dd8a;
        padding: 20px;
        color: white;
        text-decoration: none;
        border-radius: 8%;
    }

    .submit a:hover{
        background-color: green;
    }

</style>

    <div class="container">
        <div class="title">Your profile on JS Club</div>
        <div class="content">
            <p><span>User name: </span> {{ user }} </p>
             <p><span>First name: </span> {{ user.account.firstname }}  </p>
             <p><span>Last name: </span> {{ user.account.lastname }}  </p>
             <p><span>Email: </span> {{ user.email }} </p>
             <p><span>Date of birth: </span> {{ user.account.dob }} </p>
             <p><span>Phone: </span> {{ user.account.phone }} </p>
             <p><span>Room: </span> {{ user.account.room }} </p>
            {% if user.account.active == True %}
                 <p><span>Active: </span> Online </p>
            {% else %}
                 <p><span>Active: </span> Offline </p>
            {% endif %}
            <div class="submit">
                <a href="{% url 'update_profile' %}">Update your information</a>
                <a href="{% url 'member' %}">View all members</a>
            </div>
        </div>
    </div>

{%endblock%}
